on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0' # run every sunday at 00.00 UTC

name: R-CMD-check

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ubuntu-24.04, r: 'release'}
          - {os: ubuntu-24.04, r: 'devel'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      _R_CHECK_TESTS_NLINES_: 0
      RSPM: ${{ matrix.config.rspm }}

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Db unit tests in ubuntu/linux only
        if: runner.os != 'Windows'
        run: |
          if [[ ${{ runner.os }} == Linux ]]; then
            echo "GITHUB_ACTIONS_RUN_DB_UNIT_TESTS=true" >> $GITHUB_ENV
            echo "IMONGR_DB_HOST=localhost" >> $GITHUB_ENV
            echo "IMONGR_DB_NAME=dummydb" >> $GITHUB_ENV
            echo "IMONGR_DB_USER=root" >> $GITHUB_ENV
            echo "IMONGR_DB_PASS=root" >> $GITHUB_ENV
          else
            echo "GITHUB_ACTIONS_RUN_DB_UNIT_TESTS=false" >> $GITHUB_ENV
          fi

      - name: Set up MySQL, ubuntu only
        if: runner.os == 'Linux'
        run: |
          sudo /etc/init.d/mysql start
          mysql -e 'CREATE DATABASE IF NOT EXISTS dummydb;' -uroot -proot

      - name: Check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
        run: rcmdcheck::rcmdcheck(args = c("--no-manual"), error_on = "error", check_dir = "check")
        shell: Rscript {0}

      - name: Upload check results
        if: failure()
        uses: actions/upload-artifact@v6
        with:
          name: ${{ runner.os }}-r${{ matrix.config.r }}-results
          path: check
